.containerForm{
    form {
        position: relative;
        float: left;
        margin: 0 auto 0 0;
        border: 1px solid black;
        label{
            display: block;
            padding: 10px;
            input{
                margin: 0 0 0 5px;
            }
        }
    }
}